<div class="row">
	
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Current Emails
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<th>Name</th>
						<th>Template</th>
						<th></th>
						<th></th>
					</thead>
					<tbody>
						<tr ng-repeat="email in emails">
							<td>{{email.name}}</td>
							<td>{{email.template}}
							<td><a class="btn btn-primary" href="/#/email/{{email._id}}">Edit</a></td>
							<td><a ng-click="deleteEmail(email._id)" class="btn btn-danger">Delete</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		
		<div class="panel panel-default">
			<div class="panel-heading">
				Add New Email
			</div>
			<div class="panel-body">
				<form>
					<div class="form-group">
						<label for="email-name">Email Name</label>
						<input ng-model="newEmail.name" type="text" id="email-name" class="form-control" placeholder="Email Name" />
					</div>
					<div class="form-group">
						<label for="email-template">Email Template</label>
						<select ng-model="newEmail.template" id="email-template" class="form-control">
							<option ng-repeat="template in templates" value="{{template.name}}">
								{{template.name}}
							</option>
						</select>
					</div>
					<button class="btn btn-success" ng-click="addEmail();">Add New Email</button>
				</form>
			</div>
		</div>
	</div>
</div>

