<div class="row">
	<div id="available-modules" class="col-md-3">
		<div class="panel panel-default">		
			<div class="panel-heading">
				Available Modules
			</div>
			<div class="panel-body">
				<ul id="modules-container" class="first list-group" ui-sortable="availableModulesOptions" ng-model="availableModules">
					<li class="list-group-item" ng-repeat="module in availableModules track by $index">{{module.name}}</li>
				</ul>
			</div>

		</div>
	</div>
	<div id="preview-column" class="col-md-9">
		<button class="btn btn-default" ng-click="clear();">Clear Workspace</button>	
		<div id="editor-controls" class="pull-right">
			<button class="btn btn-primary" ng-click="archive();">Create Archive</button>
			<button class="btn btn-primary" disabled ng-click="export();">Export To HTML</button>
			<button class="btn btn-success" ng-click="save();">Save Template</button>
		</div>

		<hr />

		<div data-email-container ui-sortable="currentModulesOptions" ng-model="currentModules">

			<div module class="module" ng-model="module" ng-repeat="module in currentModules track by $index" content="module.html" data-module-name="{{module.name}}">
				<div class="view"></div>
			</div>

		</div>
	</div>
</div>
