<h1>Viewing Template <em>{{template.name}}</em></h1>

<div class="panel panel-default" ng-repeat="module in template.modules">
	<div class="panel-heading">
		{{module.name}}
	</div>
	<div class="panel-body">
		{{module.html}}
	</div>
</div>

<button class="btn btn-primary" ng-click="updateTemplate();">Update/Rescan Template</button>
<button class="btn btn-danger" ng-click="deleteTemplate();">Delete Template</button>