<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Current Templates
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<th>Template Name</th>
						<th></th>
						<th></th>
					</thead>
					<tbody>
						<tr ng-repeat="template in currentTemplates">
							<td>{{template.name}}</td>
							<td><a class="btn btn-primary" href="/#/admin/templates/{{template.name}}">View</a></td>
						</tr>
					</tbody>
				</table>				
			</div>
		</div>
	</div>
	<div class="col-md-6">
		
		<div class="panel panel-default">
			<div class="panel-heading">
				Add New Template
			</div>
			<div class="panel-body">
				<form>
					<div class="form-group">
						<label for="new-template">Email Template</label>
						<select ng-model="selectedTemplate" id="new-template" class="form-control">
							<option ng-repeat="template in availableTemplates" option="{{template}}">{{template}}</option>
						</select>
					</div>
					<button class="btn btn-success" ng-click="addTemplate();">Add Template</button>
				</form>
			</div>
		</div>
	</div>
</div>