<h1>Viewing User <em>{{user.username}}</em></h1>

<ul>
	<li><strong>ID</strong>: {{user._id}}</li>
	<li><strong>Registered</strong>: {{user.created}}</li>
	<li><strong>Email</strong>: {{user.email}}</li>
	<li><strong>Is Admin?</strong>: {{user.isAdmin}}</li>
</ul>

<h3>Emails</h3>
<table class="table">
	<thead>
		<th>Name</th>
		<th>Template</th>
		<th></th>
		<th></th>
	</thead>
	<tbody>
		<tr ng-repeat="email in emails">
			<td>{{email.name}}</td>
			<td>{{email.template}}
			<td><a class="btn btn-primary" href="/#/email/{{email._id}}">Edit</a></td>
			<td><a ng-click="deleteEmail(email._id)" class="btn btn-danger">Delete</a></td>
		</tr>
	</tbody>
</table>