<h1>Viewing All Users</h1>

<table class="table">
<thead>
	<th>Username</th>
	<th>Email Address</th>
	<th>Is Admin?</th>
	<th></th>
	<th></th>
</thead>
<tbody>
	<tr ng-repeat="user in users">
		<td>{{user.username}}</td>
		<td>{{user.email}}</td>
		<td>{{user.isAdmin}}</td>
		<td><a class="btn btn-primary" href="/#/admin/users/{{user._id}}">View</a></td>
		<td><a class="btn btn-danger">Delete</a></td>
	</tr>
</tbody>
</table>