<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<table class="wrapper" align="center" editable-background width="680" cellpadding="0" cellspacing="0" border="0" style="background:#45C8B3;">
				<tr>
					<td colspan="5" height="20">&nbsp;</td>
				</tr>							
				<tr>
					<td class="edge-padding" width="60"></td>
					<td editable-text class="two-column" width="270" style="color:#ffffff;font-size:20px;font-weight:800;text-align:left;">
						Light Template
					</td>
					<td class="column-spacer-height-10" width="20">&nbsp;</td>
					<td editable-text class="two-column" width="270" style="color:#ffffff;font-size:14px;text-align:right;"><span style="color:#70DBCA;">Newsletter #001 - </span><span style="color:#ffffff;">01/05/2015</a></td>
					<td class="edge-padding" width="60"></td>
				</tr>
				<tr>
					<td colspan="5" height="20">&nbsp;</td>
				</tr>							
			</table>
		</td>
	</tr>
</table>