<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<table class="wrapper" align="center" editable-background width="680" cellpadding="0" cellspacing="0" border="0" style="background:#f3f5fb;">
				<tr>
					<td colspan="3" height="40">&nbsp;</td>
				</tr>							
				<tr>
					<td class="edge-padding" width="60"></td>
					<td editable-text class="tablet-width-auto" width="560" style="text-align:center;font-size:20px;font-weight:800;color:#000000;text-transform:uppercase;">Two Columns - News With Title</td>
					<td class="edge-padding" width="60"></td>
				</tr>
				<tr>
					<td colspan="3" height="30">&nbsp;</td>
				</tr>							
				<tr>
					<td class="edge-padding" width="60"></td>
					<td class="tablet-width-auto" width="560">
						<table width="100%" cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td class="two-column" width="260">
									<table cellpadding="0" cellspacing="0" border="0">
										<tr>
											<td>
												<img editable-image class="responsive" src="http://placehold.it/260x145" alt="">
											</td>
										</tr>
										<tr>
											<td height="10" style="height:10px;line-height:0;font-size:0;">&nbsp;</td>
										</tr>													
										<tr>
											<td editable-text style="font-size:18px;font-weight:800;color:#000000;">
												Column 1 Title
											</td>
										</tr>
										<tr>
											<td height="10" style="height:10px;line-height:0;font-size:0;">&nbsp;</td>
										</tr>
										<tr>
											<td editable-text style="font-size:14px;">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quidem, aut quam magnam laboriosam officiis sunt nisi a error, mollitia, deserunt? Totam ipsum sit suscipit obcaecati, aspernatur, impedit similique illo.
											</td>
										</tr>
										<tr>
											<td height="10" style="height:10px;line-height:0;font-size:0;">&nbsp;</td>
										</tr>
										<tr>
											<td editable-text style="font-size:14px;">
												<a href="#">Read more</a>
											</td>
										</tr>				
									</table>
								</td>
								<td class="column-spacer-height-40" width="40">&nbsp;</td>
								<td class="two-column" width="260">
									<table cellpadding="0" cellspacing="0" border="0">
										<tr>
											<td>
												<img editable-image class="responsive" src="http://placehold.it/260x145" alt="">
											</td>
										</tr>
										<tr>
											<td height="10" style="height:10px;line-height:0;font-size:0;">&nbsp;</td>
										</tr>													
										<tr>
											<td editable-text style="font-size:18px;font-weight:800;color:#000000;">
												Column 2 Title
											</td>
										</tr>
										<tr>
											<td height="10" style="height:10px;line-height:0;font-size:0;">&nbsp;</td>
										</tr>
										<tr>
											<td editable-text style="font-size:14px;">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quidem, aut quam magnam laboriosam officiis sunt nisi a error, mollitia, deserunt? Totam ipsum sit suscipit obcaecati, aspernatur, impedit similique illo.
											</td>
										</tr>
										<tr>
											<td height="10" style="height:10px;line-height:0;font-size:0;">&nbsp;</td>
										</tr>
										<tr>
											<td editable-text style="font-size:14px;">
												<a href="#">Read more</a>
											</td>
										</tr>					
									</table>
								</td>												
							</tr>
						</table>
					</td>
					<td class="edge-padding" width="60"></td>
				</tr>
				<tr>
					<td colspan="3" height="40">&nbsp;</td>
				</tr>							
			</table>
		</td>
	</tr>
</table>