section#control-panel
{	
	padding  : 20px;
	overflow : auto;
	position : absolute;
	left     : 0;
	top      : 0;
	bottom   : 0;
	width    : 25%;
	background-color : #f7f7f7;

	h3
	{
		font-size : 20px;
		font-weight : 800;
		margin-bottom : 20px;
	}

	div#modules-container
	{
		padding : 10px 0px;
		border-top : 1px solid #eee;
		border-bottom : 1px solid #eee;
	}
}