section#editor-preview
{
	overflow : auto;
	position : absolute;
	left     : 25%;
	width    : 75%;
	top      : 0;
	bottom   : 0;
	background : #eee;

	div#editor-controls
	{	
		padding : 20px;
		float : right;
		display : block;

		button
		{
			float : left;
		}
	}

	div[data-email-container]
	{	
		clear : both;
		padding : 20px;
		background : #fff;
		text-align : center;

		div.module
		{
			display : block;
			position : relative;

			ul#module-controls
			{	
				width    : 600px;
				position : absolute;
				margin : 0;
				left : 50%;
				margin-left : -300px;
				z-index : 99;
				text-align : right;
				top : 0;
				display : none;

				li
				{
					display : inline-block;
					background : #fff;
					border : 1px solid #000;
				}
			}

			&:hover
			{
				ul#module-controls
				{
					display : block;
				}

				div.view a[data-background]
				{
					display : block;
				}
			}

			div.view
			{	
				width : 600px;
				margin : 0 auto;
				text-align : left;
				position : relative;

				a[data-background]
				{
					position : absolute;
					top      : 0;
					left     : 0;
					display : none;
					background : #fff;
					border : 1px solid #000;
					z-index : 100;
				}

				> table
				{
					margin : 0 auto;	
				}
			}				
		}	
	}
}