// *, *:before, *:after
// {
// 	box-sizing: border-box;
// }

// //@import 'includes/reset.less';
// @import 'includes/test-template.less';
// @import 'includes/cp-sidebar.less';
// @import 'includes/editor-preview.less';

body
{
	padding : 70px 0px 30px 0px;
}

div#available-modules
{
	position : fixed;
}

div#preview-column
{
	left : 25%;
}

div[data-email-container]
{
	padding : 20px;
	text-align : center;

	td
	{
		position : relative;
	}

	div.module
	{	
		table.wrapper, .column
		{
			position : relative;
		}

		display : block;
		position : relative;

		ul#module-controls
		{	
			width    : 600px;
			position : absolute;
			margin : 0;
			left : 50%;
			margin-left : -300px;
			z-index : 99;
			text-align : right;
			top : 0;
			display : none;

			li
			{
				display : inline-block;
			}
		}

		&:hover
		{
			ul#module-controls
			{
				display : block;
			}

			div.view span[data-background]
			{
				display : block;
			}

			span[data-image-upload]
			{
				display : block;
			}
		}

		div.view
		{
			margin : 0 auto;
			text-align : left;
			position : relative;

			span[data-background]
			{
				position : absolute;
				top      : 0;
				left     : 0;
				display : none;
				z-index : 100;
			}

			> table
			{
				margin : 0 auto;	
			}
		}				
	}	

	li.sortable-placeholder
	{
		border : 1px dotted #2e6da4;
		padding : 20px;
		list-style : none;
	}

	span[data-image-upload]
	{
		position : absolute;
		bottom   : 100%;
		left    : 0;
		display  : none;
		overflow : hidden;
		border   : 0;
		z-index  : 100;

		input
		{
			position : absolute;
			right    : 0;
			left     : 0;
			top      : 0;
			bottom   : 0;
			opacity  : 0;		
		}
	}
}