<!DOCTYPE html>
<html>

<head>
	<title>Email Template Builder</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/colorpicker.css" />
	<link rel="stylesheet" href="/assets/css/master.css" />
</head>

<body ng-app="emailBuilder" ng-controller="applicationCtrl">

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="/#/">Email Builder</a>
			<ul class="nav navbar-nav">
				<li ng-if="!isLoggedIn"><a href="/#/login">Login</a></li>
				<li ng-if="!isLoggedIn"><a href="/#/register">Register</a></li>
				<li ng-if="isLoggedIn"><a href="/#/">My Emails</a></li>
				<li ng-if="isLoggedIn && currentUser.isAdmin"><a href="/#/admin/templates">Templates</a></li>
				<li ng-if="isLoggedIn && currentUser.isAdmin"><a href="/#/admin/users">Users</a></li>
			</ul>
			<p ng-if="isLoggedIn" style="float:right;padding-top:15px;">Logged In As {{currentUser.name}} | <a ng-click="logOut();">Logout?</a></p>
		</div>
	</nav>
	
	<div class="container-fluid" ng-view></div>
	
	<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>	
	<script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
	<script src="/src/js/colorpicker.js"></script>
	
	<script src="/assets/js/libs.min.js"></script>

	<script src="/src/js/index.js"></script>

	<script src="/src/js/filters/cleanHTML.js"></script>

	<script src="/src/js/controllers/applicationCtrl.js"></script>
	<script src="/src/js/controllers/loginCtrl.js"></script>
	<script src="/src/js/controllers/registerCtrl.js"></script>
	<script src="/src/js/controllers/emailsCtrl.js"></script>
	<script src="/src/js/controllers/emailCtrl.js"></script>
	<script src="/src/js/controllers/templateCtrl.js"></script>
	<script src="/src/js/controllers/templatesCtrl.js"></script>
	<script src="/src/js/controllers/usersCtrl.js"></script>
	<script src="/src/js/controllers/userCtrl.js"></script>

	<script src="/src/js/routes/index.js"></script>

	<script src="/src/js/directives/ui-sortable.js"></script>
	<script src="/src/js/directives/module.js"></script>
	<script src="/src/js/directives/editable-text.js"></script>
	<script src="/src/js/directives/editable-image.js"></script>
	<script src="/src/js/directives/editable-background.js"></script>
	
	<script src="/src/js/services/CurrentUserService.js"></script>	
	<script src="/src/js/services/AccountService.js"></script>	
	<script src="/src/js/services/AuthService.js"></script>
	<script src="/src/js/services/TokenInterceptor.js"></script>

</body>

</html>