<table class="wrapper" align="center" editable-background width="600" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td colspan="3" height="20" style="height:20px;">&nbsp;</td>
	</tr>
	<tr>
		<td class="column" style="text-align:right;" width="600" editable-text>
			&copy; Email Builder 2015. All Rights Reserved
		</td>
	</tr>
	<tr>
		<td colspan="3" height="20" style="height:20px;">&nbsp;</td>
	</tr>	
</table>