<table class="wrapper" align="center" width="600" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td colspan="3" height="20" style="height:20px;">&nbsp;</td>
	</tr>
	<tr>
		<td class="column" width="600">
			<img editable-image width="600" height="300" alt="">
		</td>
	</tr>
	<tr>
		<td colspan="3" height="20" style="height:20px;">&nbsp;</td>
	</tr>	
</table>