<table width="100%" editable-background cellpadding="0" cellspacing="0" border="0" style="background-color:#eee;">
	<tr>
		<td>
			<table class="wrapper" align="center" editable-background width="600" cellpadding="0" cellspacing="0" border="0" style="background-color:#eee;">
				<tr>
					<td height="20" style="height:20px;">&nbsp;</td>
				</tr>
				<tr>
					<td editable-text style="text-align:center;">Email not displaying correctly? View it in your browser.</td>
				</tr>
				<tr>
					<td height="20" style="height:20px;">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
</table>