<table class="wrapper" align="center" editable-background width="600" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td colspan="3" height="20" style="height:20px;">&nbsp;</td>
	</tr>
	<tr>
		<td class="column" width="285">
			<h3 editable-text>Editable Text</h3>
			<span editable-text>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus itaque veritatis iusto expedita repellat iste id reiciendis omnis voluptatum fugiat. Nobis officia, ipsum earum, laboriosam cum consequatur cumque ea sunt.
			</span>
		</td>
		<td class="column-padding" width="30"></td>
		<td class="column" width="285">
			<h3 editable-text>Editable Text</h3>
			<span editable-text>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus itaque veritatis iusto expedita repellat iste id reiciendis omnis voluptatum fugiat. Nobis officia, ipsum earum, laboriosam cum consequatur cumque ea sunt.
			</span>
		</td>
	</tr>
	<tr>
		<td colspan="3" height="20" style="height:20px;">&nbsp;</td>
	</tr>	
</table>